/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
--bg-color: #FFF1F7;
--accent-color: #FF8DCB;
--bg-image: url('../images/cover-image-light-png');
--font-family: "IBM Plex Mono", sans-serif;
--font-weight: 400;
--font-weight-bold: 700;
--main-font-size: 18px;
--main-text-color: #353430;
--title-decor-color: #353430;
--h1-color: #FFC2E6;
--subtitles-color: #353430;
--text-shadow: 4px 4px 0 var(var(--accent-color));
--color-hover: #32312D66;
--menu-color: #353430;
--decorated-element-color: #353430;
}

.theme-light .page {
--bg-color: #FFF1F7;
--accent-color: #FF8DCB;
--bg-image: url('../images/cover-image-light-png');
--font-family: "IBM Plex Mono", sans-serif;
--font-weight: 400;
--font-weight-bold: 700;
--main-font-size: 18px;
--main-text-color: #353430;
--title-decor-color: #353430;
--h1-color: #FFC2E6;
--subtitles-color: #353430;
--text-shadow: 4px 4px 0 var(var(--accent-color));
--color-hover: #32312D66;
--menu-color: #353430;
--decorated-element-color: #353430;

}
.theme-light .rec {
  display: none;
}
.theme-light .header__theme-menu-button_type_dark {
  border: none;
}
.theme-light .header__theme-menu-button_type_light {
  border: 1px solid var(--decorated-element-color, #ff0070);
  padding: 2px 14px 5px 11px;
}

@media (prefers-color-scheme: light) {
  :root {
--bg-color: #FFF1F7;
--accent-color: #FF8DCB;
--bg-image: url('../images/cover-image-light-png');
--font-family: "IBM Plex Mono", sans-serif;
--font-weight: 400;
--font-weight-bold: 700;
--main-font-size: 18px;
--h1-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
--main-text-color: #353430;
--title-decor-color: #353430;
--h1-color: #FFC2E6;
--subtitles-color: #353430;
--text-shadow: 4px 4px 0 var(var(--accent-color));
--color-hover: #32312D66;
--menu-color: #353430;
--decorated-element-color: #353430;
}
.rec {
  display: none;
}
.header__theme-menu-button_type_dark {
  border: none;
}

}
